@model Category

<form method="post">

	<input asp-for="Id" hidden />
	<div class="borderatio p-3 mt-4">
		<div class="row">
			<h2>
				Delete Category
			</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" disabled class="form-control" />
			<span asp-validation-for="Name" class="text-danger"> </span>
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="DisplayOrder" class="p-0"></label>
			<input asp-for="DisplayOrder" disabled class="form-control" />
			<span asp-validation-for="DisplayOrder" class="text-danger"> </span>

		</div>

		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-danger form-control">Delete</button>
			</div>
			<div class="col-6 col-md-3">
				<button class="btn btn-outline-secondary form-control" asp-action="Index" asp-controller="Category">Back To List</button>
			</div>

		</div>
	</div>

</form>


@*
	partial keyword ki help se _ValidationScriptsPartial jo khud bhi partial he use kar sakte hne validation ke process ke leye
*@
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
} 